.about{
padding:90px 30px 90px 30px;
display:flex;
flex-direction: column;
}

.about__image{
display:block;
width:100%;
}
.about__info{
    display:flex;
    flex-direction: column;  
    margin-top:40px; 
}
.about__overtitle {
    line-height: 26px;
}

.about__title {
    color: var(--title-color);
    line-height: 41.8px;
    font-weight: 400;
    letter-spacing: 0.76px;
    margin-top:-10px;
}

.about__subtitle {
    color: var(--title-color);
    font-size: 28px;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    letter-spacing: 0.56px;
    line-height: 33.6px;
}
.about__dark-text {
    color: var(--dark-subtitle-color);
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
}

.about__light-text {
    color: var(--dark-text-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;   
}
.about__divider {
    height: 3px;
    width: 9%;
    margin-left: 0;
    line-height: 25.5px;
}

.about__button{
width:144.225px;
height:49.3px;
display:flex;
justify-content:center;
align-items:center;
font-size:16.5px;
font-weight:500;
letter-spacing:0.33px;
line-height:16.5px;
}

.about__button:hover{
background-color:var(--hover-button-text-color);
}
