.cofee-carousel{   
    display: flex;
    justify-content:center;
    padding:15px;
    background-color:var(--menu-item-color);
}
.btn-prev{
    transform:rotate(180deg);
    width:5%;
}
.btn-next{
    width:5%;
}

.cofee-item{
width:270px;
height:200px;
}
.carousel-slide-container {
    display: flex;
    gap:20px;
    align-items: center;
    justify-content:center;   
}
