@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent-background-color: #2e3032;
    --button-text-color: rgb(255, 255, 255);
    --button-background-color: rgb(199, 161, 122);
    --video-icon-color: rgb(199, 161, 122);
    --dark-subtitle-color: rgb(91, 91, 91);
    --dark-text-color: rgb(130, 130, 130);
    --dark-background-color: #27292b;
    --divider-color: #c7a17a;
    --main-title-color: rgb(255, 255, 255);
    --menu-item-color: rgb(255, 255, 255);
    --form-textcolor: rgb(225, 224, 224);
    --hover-button-text-color: rgb(33, 37, 41);
    --hover-button-background-color: rgb(255, 255, 255);
    --light-background-color: #f2f0ec;
    --light-title-color: rgb(255, 255, 255);
    --light-text-color: rgb(230, 230, 230);
    --overtitle-color: rgb(199, 161, 122);
    --social-icon-color: rgb(199, 161, 122);
    --transparent-background-color: rgba(255, 255, 255, 0.01);
    --title-color: rgb(39, 41, 43);
    --bacground-logo: #f2f0ec;
    font-family: 'Roboto', sans-serif;
}

.overtitle {
    color: var(--overtitle-color);
    font-family: 'Satisfy', undefined;
    font-size: 26px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 38px;
    font-weight: 400;
}

.divider {
    margin: auto;
    height: 2px;
    margin-top: -5px;
    width: 5%;
    background-color: var(--divider-color);
}

.button {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--button-text-color);
    text-decoration: none;
    background-color: var(--button-background-color);
    text-align: center;
}


@media(min-width: 767px) {
    h2 {
        font-size: 58px;
    }

    .overtitle {
        font-size: 24px;
    }
}

@media(min-width: 768px) {
    h2 {
        font-size: 48px;
    }

    .overtitle {
        font-size: 26px;
    }
}

@media(min-width: 991px) {
    h2 {
        font-size: 58px;
    }

    .overtitle {
        font-size: 24px;
    }
}