@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-title-color: rgb(255, 255, 255);
    --overtitle-color: #c7a17a;
}

.overtitle {
    color: var(--overtitle-color);
    font-family: 'Satisfy', undefined;
    font-size: 26px;
}

h2 {
    font-family: "Bebas Neue", cursive;
    font-size: 38px;
    font-weight: 400;
}