body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    transition: transform 0.3s ease;
  }
  
body.show-nav {
    /* Width of nav */
    transform: translateX(200px);
  }

nav {
    border-right: 1px solid rgb(255, 255, 255);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 100;
    transform: translateX(-100%);
}

.courses {
    background-color: #f2f0ec;
    min-height: 900px;
    padding-top: 7%;
}

.courses__overtitle {
    font-size: 24px;
    text-align: center;
    text-transform: none;
    color: var(--overtitle-color);
    font-family: 'Satisfy', cursive;
}

.courses__title {
    font-size: 58px;
    text-align: center;
    color: var(--title-color);
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}

.courses__text {
    margin-top: 12px;
    font-size: 17px;
    text-align: center;
    color: var(--title-color);
    font-family: 'Roboto', sans-serif;
}

.courses__background-img {
    width: 100%;
}