.features__features{
    font-style: italic;
    color: #c7a17a;
    font-size: 15px;
}
.features__remember{
    font-size:inherit; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-weight: 300; 
    font-size: 30px;
}
.features__divider{
    height:3px;
    width:10%;
    background-color:#c7a17a;
}
.features__things{
    color: rgb(91,91,91);
}
.list_firstheading{
    font-weight: 600;
}
.list_description-firstitem{
    color: rgb(130,130,130);
}
.list_secondheading{
    font-weight:600;
}
.list_description-seconditem{
    color: rgb(130,130,130);
}
.list_thirdheading{
    font-weight:600;
}
.list_description-thirditem{
    color: rgb(130,130,130);
}
@media(min-width:400px){
    .list-items{
        display:flex;
        flex-direction:column;
    }
}