.features__features{
    font-family:'Satisfy', cursive;
    font-style: italic;
    color: var(--overtitle-color);
    font-size: 24px;
    line-height:24px;
}
.features__remember{
    font-size:inherit; 
    font-weight: 300; 
    font-size: 58 px;
    font-family:'Bebas Neue', cursive;
    line-height: 63.8px;
}
.features__divider{
    height:3px;
    width:10%;
    background-color:#c7a17a;
}
.features__things{
    color: var(--dark-subtitle-color);
}

.list_firstheading{
    font-weight: 600;
}
.list_description-firstitem{
    color: var(--dark-text-color);
}
.list_secondheading{
    font-weight:600;
}
.list_description-seconditem{
    color: var(--dark-text-color);
}
.list_thirdheading{
    font-weight:600;
}
.list_description-thirditem{
    color: var(--dark-text-color);
}

.list-items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: flex-end;
    align-items: normal;
}
.features__image-barista{
    background-image: url(../img/continent.webp);
    background-size: cover;
    background-position: bottom;
    margin: auto;
}