                                .footer {
                                    background-color: var(--dark-background-color);
                                }
                                
                                .application {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    padding-top: 90px;
                                    padding-bottom: 90px;
                                }
                                
                                .application__left-side {
                                    margin: 20px;
                                    min-height: 700px;
                                    background: var(--accent-background-color);
                                    border: none;
                                }
                                
                                .application__text {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    padding-top: 35px;
                                    padding-left: 35px;
                                    padding-right: 35px;
                                }
                                
                                .contact__subtitle {
                                    color: var(--overtitle-color);
                                    font-family: Satisfy, undefined;
                                    font-size: 26px;
                                    text-align: left;
                                }
                                
                                .contact__title {
                                    color: var(--main-title-color);
                                    font-family: 'Bebas neue', cursive;
                                    font-size: 38px;
                                    font-weight: 400;
                                    margin-top: 20px;
                                }
                                
                                .contact__phone-number {
                                    display: flex;
                                    flex-direction: row;
                                    margin-top: 25px;
                                    margin-bottom: 16px;
                                    font-family: Roboto, sans-serif;
                                    color: var(--form-textcolor);
                                    font-size: 17px;
                                    cursor: pointer;
                                }
                                
                                .number__icon {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 10px;
                                }
                                
                                .contact__email {
                                    display: flex;
                                    flex-direction: row;
                                }
                                
                                .email__send {
                                    margin-bottom: 16px;
                                    font-family: Roboto, sans-serif;
                                    color: var(--form-textcolor);
                                    text-decoration: none;
                                    font-size: 17px;
                                    cursor: pointer;
                                }
                                
                                .email__icon {
                                    width: 20px;
                                    height: 20px;
                                    margin-right: 10px;
                                }
                                
                                .application__form {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    margin-top: 20px;
                                    padding-left: 35px;
                                    padding-right: 35px;
                                }
                                
                                .form__cells {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-around;
                                }
                                
                                .form__full-name {
                                    background-color: var(--transparent-background-color);
                                    margin-top: 12px;
                                    padding-bottom: 15px;
                                    padding-left: 26px;
                                    padding-right: 26px;
                                    padding-top: 15px;
                                    border: none;
                                    font-family: Roboto, sans-serif;
                                    font-size: 15px;
                                }
                                
                                .form__phone-number {
                                    background-color: var(--transparent-background-color);
                                    margin-top: 12px;
                                    padding-bottom: 15px;
                                    padding-left: 26px;
                                    padding-right: 26px;
                                    padding-top: 15px;
                                    border: none;
                                    font-family: Roboto, sans-serif;
                                    font-size: 15px;
                                }
                                
                                .form__email {
                                    background-color: var(--transparent-background-color);
                                    margin-top: 12px;
                                    padding-bottom: 15px;
                                    padding-left: 26px;
                                    padding-right: 26px;
                                    padding-top: 15px;
                                    border: none;
                                    font-family: Roboto, sans-serif;
                                    font-size: 15px;
                                }
                                
                                .form__course {
                                    background-color: var(--transparent-background-color);
                                    margin-top: 12px;
                                    padding-bottom: 15px;
                                    padding-left: 26px;
                                    padding-right: 26px;
                                    padding-top: 15px;
                                    border: none;
                                    font-family: Roboto, sans-serif;
                                    font-size: 15px;
                                }
                                
                                .form__button {
                                    background-color: var(--button-background-color);
                                    color: var(--button-text-color);
                                    border: none;
                                    cursor: pointer;
                                    display: inline-block;
                                    font-size: 15px;
                                    min-width: 202px;
                                    height: 45px;
                                    padding: 15px 26px;
                                    text-align: center;
                                    text-decoration: none;
                                    border-radius: none;
                                    margin-top: 56px;
                                    font-family: Roboto, sans-serif;
                                }
                                
                                .application__map {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    margin-top: 50px;
                                }
                                
                                .map {
                                    height: 700px;
                                    padding-left: 15px;
                                    padding-right: 15px;
                                }