.header {
    background-image: linear-gradient(rgba(32, 32, 32, 0.925), rgba(32, 32, 32, 0.925)), url(../img/logo-coffee.png);
    background-size: cover;
    background-position: top;
    width: 100%;
}

.header__nav {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.header__logo-link {
    height: 25px;
    line-height: 16px;
    width: 18%;
}

.menu__header {
    width: 500px;
    display: flex;
    justify-content: space-between;
    height: 37px;
    margin-block-end: -12px;
}

.menu__list li {
    list-style-type: none;
}

.menu_item {
    font-family: 'Roboto', sans-serif;
    text-decoration-line: underline;
    font-weight: 515;
    color: var(--menu-item-color);
}

.header__social-icons {
    margin-top: -10px;
}

.social-icons__icon {
    font-size: 30px;
    text-decoration: none;
}

.logo_social-icons {
    color: var(--social-icon-color);
}

.header__banner {
    padding-top: 200px;
    padding-bottom: 300px;
    text-align: center;
}

.header__overtitle {
    font-size: 20px;
    text-align: center;
    text-transform: none;
    color: var(--overtitle-color);
    font-family: 'Satisfy', cursive;
}

.header__title {
    font-size: 100px;
    text-align: center;
    color: var(--button-text-color);
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
}

.header_text {
    margin-top: 12px;
    font-size: 17px;
    text-align: center;
    color: var(--button-text-color);
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 990px) {
    .header__nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }

    .header__menu {
        display: flex;
    }

    .menu-icon {
        display: none;
    }

    .menu__list {
        display: flex;
        gap: 30px;
        margin-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 4rem;
        margin-top: 3px;
    }

}

@media (max-width: 990px) {
    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header__logo-link {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 0px;
    }

    .menu__list {
        display: flex;
        gap: 30px;
        flex-direction: column;
        padding: 30px;
        gap: 20px;
        height: 100%;
        width: 100%;
        background-color: var(--dark-background-color);
        overflow: auto;
        margin: auto;
    }

    .header__social-icons {
        position: relative;
        right: 86%;
        display: flex;
        align-items: center;
    }

    .menu_item {
        color: var(--menu-item-color);
        display: block;
        font-size: 21px;
    }

    .header__menu {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        background-color: var(--dark-background-color);
        transition: all 0.2s;
        display: flex;
    }

    .header__menu.active {
        left: 0;
    }

    body.lock {
        overflow: hidden;
    }

    .menu-icon {
        display: block;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
        cursor: pointer;
    }

    .menu-icon span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.2s;
    }

    .menu-icon.active span {
        transform: scale(0);
    }

    .menu-icon span:nth-of-type(2) {
        top: 0;
    }

    .menu-icon.active span:nth-of-type(2) {
        transform: translate(-50%, -50%) rotate(45deg);
        top: calc(50% - 1px);
    }

    .menu-icon span:nth-of-type(3) {
        top: auto;
        bottom: 0;
    }

    .menu-icon.active span:nth-of-type(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
        bottom: calc(50% - 1px);
    }
}