.header {
    background-image: linear-gradient(rgba(32, 32, 32, 0.925), rgba(32, 32, 32, 0.925)), url(../img/logo-coffee.png);
    background-size: cover;
    background-position: top;
    width: 100%;
}

.header__nav {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.header__logo-link {
    height: 25px;
    line-height: 16px;
    width: 18%;
    text-decoration: none;
}

.menu__list li {
    list-style-type: none;
}

.menu_item-header {
    color: var(--menu-item-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 515;
}

.header__social-icons {
    margin-top: -10px;
}

.social-icons__icon {
    text-decoration: none;
    font-size: 30px;
}

.logo_social-icons {
    color: var(--social-icon-color);
}

.header__banner {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 300px;
}

.header__overtitle {
    text-align: center;
    text-transform: none;
    color: var(--overtitle-color);
    font-family: 'Satisfy', cursive;
    font-size: 20px;
}

.header__title {
    text-align: center;
    color: var(--button-text-color);
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    font-size: 100px;
}

.header_text {
    text-align: center;
    color: var(--button-text-color);
    font-family: 'Roboto', sans-serif;
    margin-top: 12px;
    font-size: 17px;
}

@media (min-width: 990px) {
    .header__nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }

    .menu-icon {
        display: none;
    }

    .header__menu {
        display: flex;
        align-items: center;
    }

    .menu__list {
        display: flex;
        gap: 30px;
        margin-bottom: 0rem;
        padding-left: 0rem;
        padding-right: 5rem;
        margin-top: 4px;
    }

    .menu_item-header {
        position: relative;
        display: block;
        text-decoration: none;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }

    .header__social-icons {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .menu_item-header:before {
        content: '';
        position: absolute;
        transform-origin: left;
        background: var(--button-text-color);
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        transition: .5s;
        transform: scale(0);
    }

    .menu_item-header:hover:before {
        transform: scale(1);
    }
}

@media (max-width: 990px) {
    body.lock {
        overflow: hidden;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header__logo-link {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        margin-left: 0px;
    }

    .header__menu {
        display: flex;
        position: absolute;
        background-color: var(--dark-background-color);
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        transition: all 0.2s;
    }

    .header__menu.active {
        left: 0;
    }

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: auto;
        margin: auto;
        background-color: var(--dark-background-color);
        gap: 30px;
        padding: 30px;
        gap: 30px;
        height: 90%;
        width: 100%;
    }

    .menu_item-header {
        text-decoration: none;
        display: block;
        color: var(--menu-item-color);
        font-size: 21px;
    }

    .header__social-icons {
        position: absolute;
        top: 13px;
        left: 19px;
    }

    .header__banner {
        padding-bottom: 309px;
    }

    .menu-icon {
        display: block;
        position: relative;
        cursor: pointer;
        width: 30px;
        height: 18px;
        z-index: 5;
    }

    .menu-icon span {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.2s;
    }

    .menu-icon.active span {
        transform: scale(0);
    }

    .menu-icon span:nth-of-type(2) {
        top: 0;
    }

    .menu-icon.active span:nth-of-type(2) {
        transform: translate(-50%, -50%) rotate(45deg);
        top: calc(50% - 1px);
    }

    .menu-icon span:nth-of-type(3) {
        top: auto;
        bottom: 0;
    }

    .menu-icon.active span:nth-of-type(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
        bottom: calc(50% - 1px);
    }
}