.pricing {
    background-color: var(--title-color);
    height: 800px;
   
}

.pricing__overtittle {
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
    /* text-transform: none; */
    color: var(--overtitle-color);
    font-family: 'Satisfy', cursive;
    /* box-sizing: border-box;
    vertical-align: baseline; */
    text-align: center;
}

.pricing__devider {
    background-color: var(--overtitle-color);
    height: 3px;
    width: 5%;
    line-height: 50px;
    margin: auto;
    
}

.pricing__tittle {
    color: var(--button-text-color);
    font-family: 'Bebas Neue', cursive;
    font-size: 38px;
    font-weight: 400;
    text-align: left;
    margin-top: 20px;
    text-align: center;
}
.pricing__text {
     color: var(--button-text-color);
     color: rgb(230,230,230);
     font-family: 'Roboto', sans-serif;
     font-size: 19px;
     font-weight: 500;
     line-height: 28.5px;
     text-align: center;
     margin-bottom: 45px;
}

.item-pricing__tittle {
    color: rgb(230,230,230);
    font-size: 24px;
    /* padding-left: 5px; */
    padding-bottom: 15px;
   
}

.item-pricing__price {
    font-size: 18px;
    line-height: 25.5px;
    color: var(--overtitle-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: normal;
    text-align: left;
    font-weight: 500px;
    
}

.carousel-item {
    background:rgba(255, 255, 255, 0.04);
    width: 272px;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 0.48px;
    line-height: 29.52px;
    text-align: left;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: px;
    padding-right: 35px;

}


/* .carousel-inner {
    placeholder
} */


.check-mark {
    font-size: 17px;
    color: var(--form-textcolor);
    line-height: 25.5px;
    text-align: left;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 16px;
}
.check-mark__text {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    list-style: 25.5px;
    text-align: left;
    margin-left: 10px;
}

.carousel-inner__button {
    margin-top: 50px;
    margin-bottom: 70px;
}