.recipes {
    background-color: var(--light-background-color);
}

.recipes__top-line {
    background-color: var(--light-title-color);
    display: block;
}

.recipes__content {
    padding: 90px 24px 90px 24px;
    background-color: var(--light-background-color);
}

.recipes__info {
    margin-bottom: 30px;
}

.recipes__overtitle {
    line-height: 26px;
}

.recipes__title {
    color: var(--title-color);
    line-height: 41.8px;
    letter-spacing: 0.76px;
}

.recipes__divider {
    height: 3px;
    width: 15%;
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 25.5px;
}


.recipes__subtitle {
    color: var(--dark-subtitle-color);
    font-size: 19px;
    font-weight: 500;
    line-height: 28.5px;
    margin-bottom: 0;
}

.recipes__text {
    color: var(--dark-text-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    margin-bottom: 0;
}


.recipes__recipe-description {

    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 40px 28px 40px 28px;
    justify-content:space-between;

}

.recipes__latte {
    background: linear-gradient(rgba(39, 41, 43, 0.84), rgba(39, 41, 43, 0.84)), url(../img/recipes-latte.png);
    background-size: cover;
    background-position: 50% 50%;
    margin-bottom: 58px;
}

.recipes__cheese-dessert {
    background: linear-gradient(rgba(39, 41, 43, 0.84), rgba(39, 41, 43, 0.84)), url(../img/recipes-cheese-dessert.png);
    background-size: cover;
    background-position: 50% 88%;
}

.recipes__recipe-name {
    color: var(--light-title-color);
    font-size: 28px;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;
    letter-spacing: 0.56px;
    line-height: 33.6px;

}

.recipes__recipe-text {
    color: var(--light-text-color);
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
  
}

.recipes__open-button {
    line-height: 15px;
    letter-spacing: 0.3px;
    padding: 15px 26px 15px 26px;
    align-self: center;
}

.recipes__open-button:hover {
    color: var(--hover-button-text-color);
    background-color: var(--hover-button-background-color);

}

@media(min-width: 767px) {
    .recipes__overtitle {
        line-height: 24px;
    }

    .recipes__title {
        letter-spacing: 1.16px;
        line-height: 63.8px;
    }

    .recipes__latte {
        margin-bottom: 35px;
    }

    .recipes__recipe-name {
        font-size: 34px;
        letter-spacing: 0.68px;
        line-height: 40.8px;
    }

}

@media(min-width: 768px) {

    .recipes__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 33px;
    }

    .recipes__info {
        grid-column: 1/3;
    }

    .recipes__overtitle {
        line-height: 26px;
    }

    .recipes__title {
        letter-spacing: 0.96px;
        line-height: 52.8px;
    }

    .recipes__recipe-name {
        font-size: 31px;
        letter-spacing: 0.62px;
        line-height: 37.2px;
    }

    .recipes__recipe-description {
        margin-bottom: 0;
        padding-top: 54px;
        padding-bottom: 50px;
       
    }

    .recipes__latte {
        grid-column: 1/2;
    }

    .recipes__cheese-dessert {
        grid-column: 2/3;
    }

}

@media(min-width: 991px) {
    .recipes__overtitle {
        line-height: 24px;
    }


    .recipes__title {
        letter-spacing: 1.16px;
        line-height: 63.8px;
    }

    .recipes__recipe-name {
        font-size: 34px;
        letter-spacing: 0.68px;
        line-height: 40.8px;
    }

}

@media(min-width: 992px) {
    .recipes__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 33px;
        padding-left: 40px;
        padding-right: 40px;

    }

    .recipes__info {
        grid-column: 1/2;
        margin-bottom: 0;
    }

    .recipes__recipe-description {
        padding: 75px 30px 75px 30px;
        margin-bottom:45px;
    }

    .recipes__latte {
        grid-column: 2/3;

    }

    .recipes__cheese-dessert {
        grid-column: 3/4;
    }


}


.recipes__bottom-line {
    background-color: var(--dark-background-color);
    display: block;
}