.recipes {
    background-color: var(--light-background-color);
    padding-top: 90px;
    padding-bottom: 90px;
}

.recipes__title {
    color: var(--title-color);
}

/*
.recipes__divider {
    
}
*/
.recipes__subtitle {
    color: var(--dark-subtitle-color);
    font-size: 19px;
    font-weight: 500;
}

.recipes__text {
    color: var(--dark-text-color);
    font-size: 17px;
    font-weight: 400;
}

.recipes__recipe-description {
    min-height: 428.6px;
    background-size: cover;
    text-align: center;
}

.recipes__recipe-name {
    color: var(--light-title-color);
    font-size: 28px;
    font-family: "Bebas Neue", cursive;
    font-weight: 400;

}

.recipes__recipe-text {
    color: var(--light-text-color);
    font-size: 17px;
    font-weight: 400;
}

/*
.recipes__open-button{
       
}
*/



.recipes__latte {
    background: linear-gradient(rgba(39, 41, 43, 0.84), rgba(39, 41, 43, 0.84)), url(../img/recipes-latte.png);


}

.recipes__cheese-dessert {
    background: linear-gradient(rgba(39, 41, 43, 0.84), rgba(39, 41, 43, 0.84)), url(../img/recipes-cheese-dessert.png);

}




@media(min-width: 767px) {
    .recipes__recipe-name {
        font-size: 34px;
    }
}

@media(min-width: 768px) {
    .recipes__recipe-name {
        font-size: 31px;
    }

    .recipes {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 34px;
    }

    .recipes__info {
        grid-column: 1/3;
    }

    .recipes__latte {
        grid-column: 1/2;
    }

    .recipes__cheese-dessert {
        grid-column: 2/3;
    }
}

@media(min-width: 991px) {
    .recipes__recipe-name {
        font-size: 34px;
    }
}

@media(min-width: 992px) {
    .recipes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .recipes__info{
        grid-column: 1/2;    
    }
    .recipes__latte {
        grid-column: 2/3;
    }

    .recipes__cheese-dessert {
        grid-column: 3/4;
    }
}