.line {
	height: 3px;
	width: 10%;
	background-color: var(--divider-color);
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.testimonials__text {
	text-align: center;
	font-style: italic;
	color: var(--overtitle-color);
	font-size: 24px;
	font-family: 'Satisfy', cursive;
	line-height: 24px;
}
.testimonials__title {
	text-align: center;
	font-size:inherit;
	font-family: 'Bebas Neue', cursive;
	font-weight: 300;
	font-size: 58px;
	line-height: 63.8px;
}
.testimonials__subtitle {
	text-align: center;
	color: var(--dark-subtitle-color);
	font-size: 19px;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	margin-bottom: 40px;
}
.item__name {
	font-family: 'Bebas Neue', cursive;
	font-size: 28px;
    padding: 20px 0;
}
.item__role {
	font-family: 'Roboto', sans-serif;
	color: rgba(39, 41, 43, 0.8);
	font-style: italic;
	line-height: 25.05px;
    padding-bottom: 20px;
}
.item__citation {
	color: var(--dark-text-color);
	font-family: 'Roboto', sans-serif;
	line-height: 25.5px;
    padding-bottom: 20px;
}
.item__date {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: rgb(199, 161, 122);
}
.item__decoration{
	color: rgb(199, 161, 122);
	width: 50px;
}

/*-----------------------------*/
.testimonials__carousel{
	display: grid;
	grid-template-columns: 60px 1fr 60px;
}
.testimonials__slide__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
.content__item{
	padding: 30px;
	border: 2px solid var(--form-textcolor);
	min-height: 100%;
	max-width: 48%;
	padding-bottom: 0px;
}
.carousel__btn__prev, .carousel__btn__next{
    margin: 15px;
	padding: 10px;
	padding-top: 1px;
	width: 30px;
	height: 30px;
	color: rgb(199, 161, 122);
	border: none;
}
.btn{
    display: flex;
    align-items: center;
	justify-content: center;
}
@media(max-width: 768px) {
	.content__item{
		max-width: 90vw;
	}
}